body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.bg-image {
    background: url("image/sahil.223.jpg");
    background-size: cover;
    height: 100vh;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: rgba(0,0,0,0.6);
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}


.hero {
    text-align: center;
    margin-top: 150px;
}

.btn {
    background: crimson;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.dark-bg {
    background: #111;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    background: #1e1e1e;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
}

.form-box input, select, textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background: #333;
    border: none;
    color: white;
}

.form-box button {
    width: 100%;
    padding: 10px;
    background: crimson;
    border: none;
    color: white;
    cursor: pointer;
}

.dashboard {
    width: 400px;
    text-align: center;
}


